# Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

# Ans : 

(1) String -> s = "this is string datatype"

(2) list  -> l = [ 1,2,4,5,"akash","pwskills",6.7 ]

(3) Float -> f = 3.5

(4) tuple -> t=( 1,3,4 ,"pwskills" , 5.6 )

# Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

# Ans :

(1) var1 -> string Data type

(2) var2 -> string Data type

(3) var3 -> list Data type

(4) var4 -> float data type  { 1. -> 1.0 -> thats why float , if its 1 -> int data type }

# Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

# Ans :

All These Operator comes under Arithmetic operator 

(1) / -> It is a division operator . Gives result in float value . 
    
    Example : 
              
              11/2 -> 5.5 
              9/3  -> 3.0

(2) % -> It is a Modulus Operator . Gives the reminder value .
    
    Example : 
              
              11 % 2 -> 1
              9 % 3  -> 0

(3) // -> It is a floor division operator . Gives the result in int type not in float value
    
    Example : 
              
              11 // 2 -> 5
              29 // 4 -> 7

(4) ** -> It is a Exponentiation operator . Gives result in power .
    
    Example : 
              
              11 ** 2 -> 121
              9 ** 3  -> 729

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the  element and its data type.

# Ans :

In [4]:
l = [ 1 , 2 , 3 , "akash" , 1.2 , 2 +3j , [44,55,66] , "python" , 5.6 , "pwskills"  ]  

for i in l :
    print(i , "data type is ", type(i) )

1 data type is  <class 'int'>
2 data type is  <class 'int'>
3 data type is  <class 'int'>
akash data type is  <class 'str'>
1.2 data type is  <class 'float'>
(2+3j) data type is  <class 'complex'>
[44, 55, 66] data type is  <class 'list'>
python data type is  <class 'str'>
5.6 data type is  <class 'float'>
pwskills data type is  <class 'str'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

# Ans

In [5]:
A = int(input("enter value A:"))
B = int(input("enter value B:"))

while A % B == 0:
    s=A//B
    print("A purely divisible by B by no. of time " ,s)
    break
else:
    print("A does not purely divide B")

enter value A: 100
enter value B: 5

A purely divisible by B by no. of time  20

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

# Ans

In [6]:
l = list(range(25))

for i in l :
    if i % 3 == 0:
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

# Ans : 
    
# Mutable : 
    
    Those data types for which we can change or modify data over the time. List , string are the mutable data type .
    
    Example:

In [7]:
# even numbers 
l = [2,4,6,7]
print(l)

[2, 4, 6, 7]

In [8]:
# replacing 7 with 8 , through index value 3 . As we are able to change the value list is mutable type.
l[3] = 8
print(l)

[2, 4, 6, 8]

# Immutable :

    Those Data types for which we can't change or modify the data . Tuple is the example for Immutable Data type .
    
    Example:

In [9]:
l = (2,4,6,7)
print(l)

(2, 4, 6, 7)

In [10]:
# error indicates that we can not modify the data so tuple is immutable type.
l[3] = 8
print(l)

TypeError: 'tuple' object does not support item assignment

# Thank You